<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    <title>Gradebook</title>
</head>
<body>
    {% include 'header.html.j2' %}
    {% block content %}
    {% endblock %}
</body>
</html>
