<table>
    <thead>
        <tr>
            <th colspan="3">Semester Grades</th>
        </tr>
    </thead>
    <tbody>
        {% for user, subject, grade in grades %}
        <tr>
            <td>{{user | escape}}</td>
            <td>{{subject | escape}}</td>
            <td>{{grade | escape}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Overall GPA: {{gpa | escape}}</h3>
