<h2>Login to continue</h2>
<form action="/login" method="POST">
    <input type="text" id="username" name="username" placeholder="username">
    <input type="password" id="password" name="password" placeholder="password">
    <button type="submit">Log in</button>
</form>
